.flex-form-div{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex-form-div-nowrap{
    flex-wrap: nowrap;
}
.flex-form-hr{
    margin-bottom: 10px;
    border:none;
    height: 1px;
    background-color: var(--grey);
}
.flex-form-hr-display-none{
    display:none;
}
.flex-form-h2{
    margin-bottom: 8px;
    font-size: 13px;
    color:var(--darkgrey);
}
