.search-bar-div{
    background-color: var(--white);
    padding: 5px 5px 5px 10px;
    width: 280px;
    display:flex;
    justify-content: space-between;
    border-radius: 50px;
}
.search-bar-div>input{
    outline: none;
    border: none;
    width:230px;
}
.search-bar-div>button{
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    cursor: pointer;
    transition: 0.25s;
}
.search-bar-div>button:hover{
    filter: brightness(110%);
}
