table{
    margin-top: 20px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
}
table th,td{
    padding: 7px 15px 7px;
}
table th{
    background-color: var(--first-color);
}
table td{
    font-size: 12px;
}
table tr:nth-child(odd){
    background-color: var(--lightgrey);
}
table tr:last-child{
    border-bottom: 2px solid var(--first-color);
}
table button{
    outline: none;
    border: none;
    display:flex;
    align-items: center;
    cursor:pointer;
    background-color: transparent;
    color: var(--white);
}
table th>button>img{
    margin-left: 3px;
    filter:invert(100%)
}
table td img.delete-image,img.second-action-image{
    transition: 0.2s;
}
table td img.delete-image:hover,img.second-action-image:hover{
    animation: shake 0.3s;
}

@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg);}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
