table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 5px;
}

table button{
    outline: none;
    border: none;
    display:block;
    width: 100%;
    text-align: left;
    cursor:pointer;
    background-color: transparent;
}
table th>button{
    color:var(--white);
    padding: 7px 0px;
}
table td>button{
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
}
table td>button:hover{
    color:var(--first-color);
    font-weight: bold;
}

table td,th{
    text-align: left;
}
table th{
    background-color: var(--first-color);
}
table td{
    font-size: 12px;
}
table tr:nth-child(odd){
    background-color: var(--lightgrey);
}
table tr:last-child{
    border-bottom: 2px solid var(--first-color);
}
