/* =================Default Settings================= */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}
:root{
  --primary-color:hsl(199, 70%, 20%);
  --second-color:hsl(195, 70%, 27%);
  --third-color:hsl(32, 93%, 63%);
  --fourth-color:hsl(23, 94%, 65%);
  --negative-color:rgb(194, 0, 0);

  --white:#fff;
  --lightgrey:hsl(0, 0%, 92%);
  --lightergrey:hsl(0, 0%, 98%);
  --transparent:transparent;

  --default-shadow-color:#ccc;
  --default-text-color:#666;
  --default-hr-color:hsl(0, 0%, 82%);
}
body{
  background-color: var(--lightergrey);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}



/* =================Elementos Padrão================= */
h1{
  color:var(--lightergrey);
  font-size: 20px;
  margin: 0 0 0 20px;
}
button,.a-button{
  outline:none;
  border:none;
  background-color: var(--primary-color);
  color:var(--white);
  padding: 5px 8px;
  border-radius: 3px;
  cursor:pointer;
  transition:0.2s;
  font-size: 13px;
  font-weight: 100;
}
button:hover,.a-button:hover{
  background-color: var(--second-color);
}
.transparent-button{
  background-color: var(--transparent);
  color:var(--default-text-color);
}
.transparent-button:hover{
  background-color: var(--transparent);
  color:var(--negative-color);
  font-weight: bold;
}
.reload{
  transition: 0.2s;
}
.reload:active{
  transform: rotate(360deg);
}
input,select{
  outline:none;
  border:none;
  background-color: var(--transparent);
  color: var(--default-text-color);
  font-size: 13px;
}
hr{
  border:none;
  height:1px;
  background-color: var(--default-hr-color);
}
a{
  color:var(--default-text-color)
}

/* =================Tabela Padrão================= */
.div-overflow-table{
  overflow-x: auto;
  padding:13px;
}
table{
  border-collapse: collapse;
  box-shadow: 0 0 0.6em var(--default-shadow-color);
  border-radius: 3px;
  overflow: hidden;
}
table th{
  background-color: var(--white);
  color: var(--primary-color);
  text-align: left;
  font-size: 16px;
  padding: 11px 15px;
}
table td{
  font-size: 13px;
  padding: 6px 15px;
}
table tr:nth-of-type(even) {
  background-color: var(--lightgrey);
}
table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}
table button, table img{
  display:block;
  margin: 0 auto;
  cursor: pointer;
}
table a{
  display:block;
  text-align: center;
  margin:0 auto;
}
.table-cc div{
  margin: 0 auto;
}
.table-cc td,th{
  padding: 6px 5px;
}
.table-cc th{
  font-size: 14px;
  text-align: center;
}
.table-cc td{
  text-align: center;
}

/* =================Formulário Padrão================= */
.wideform{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.div-input{
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 0.6em var(--default-shadow-color);
  width: 310px;
  padding:3px;
  background-color: var(--white);
  margin:5px;
}
.div-input-round{
  border-radius: 27px;
}
.div-input>input,select{
  margin: 0 0 0 7px;
  width:100%;
}
.div-input>button{
  display: flex;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
}
.div-input>button:hover{
  background-color: var(--fourth-color);
}
.div-input>label{
  padding: 3px 5px;
  border-radius: 3px;
  background-color: var(--third-color);
  font-size: 11px;
  color:var(--white);
  white-space: nowrap;
  margin: 0 5px 0 0;
}
.div-input-busca{
  justify-content: space-between;
}
.div-input-cep{
  width:145px;
}
.div-input-phone{
  width:170px;
}
.div-input-cnpj{
  width:240px;
}
.div-input-number{
  width:190px;
}
.div-input-number2{
  width:210px;
}
#pf{
  display:none;
}
.div-hfill{
  display: flex;
  align-items: center;
  justify-content: end;
  height:22px; 
  width:100%;
}
.div-hfill2{
  display: flex;
  align-items: center;
  justify-content: start;
  height:22px; 
  width:100%;

}
button[type="submit"],.button-edit{
  display:flex;
  align-items: center;
  margin: 0 5px;
}
button[type="submit"]>img{
  margin: 0 0 0 7px;
  width:13px;
}
.button-edit>img{
  margin: 0 0 0 7px;
  width:13px;
}

/* =================Div texto+hr================= */
.texthr{
  display:flex;
  align-items: center;
  margin:10px 0;
}
.texthr>hr{
  width:100%;
  margin:0 30px 0 15px;
}
.texthr>h2{
  color:var(--default-text-color);
  font-size: 17px;
  white-space: nowrap;
}

/* =================Responsividade================= */
