header{
    height: 65px;
    width: 100%;
    padding: 0 15px 0 40px;

    background-color: var(--first-color);
    box-shadow: 0 0 0.5em var(--grey);

    display:flex;
    align-items: center;

    position:fixed;
    z-index: 2;
    color: var(--white);
}
