.container{
    min-height: calc(100vh - 65px);
    width: calc(100% - 200px);
    padding: 20px;

    background-color: var(--lightergrey);

    position:relative;
    top: 65px;
    left: 200px;
    z-index: 0;
    overflow-x:scroll;

    transition: 0.4s;
}
.responsive-container{
    width: calc(100% - 25px);
    left: 25px;
}
