.modalBackground {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalHeader{
    background-color:  hsl(199, 70%, 20%);
    display: flex;
    justify-content: space-between;

  }
  .close-button{
    background-color: rgb(194, 0, 0);
    color: #fefefe;
    border-radius: 5px;
    margin: 5px;
  }
  .close-button:hover{
    background-color: rgb(250, 70, 70);
    color: #fefefe;
  }
  
/* Modal Content/Box */
.modalContainer {
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    min-width: 300px;
    min-height: 200px;
  }
  
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  /* The Close Button */