.container{
    min-height: calc(100vh - 80px);
    width: calc(100% - 200px);
    padding: 20px 35px;
    box-sizing: border-box;

    background-color: var(--lightergrey);

    position:relative;
    left: 200px;
    z-index: 0;

    transition: 0.4s;
}
.responsive-container{
    width: calc(100% - 20px);
    left: 20px;
}
