header{
    height: 80px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;

    background-color: var(--first-color);
    box-shadow: 0 0 0.5em var(--lightgrey);

    display:flex;
    align-items: center;

    position:relative;
    z-index: 2;
}
