.menu{
    background-color: var(--white);
    box-shadow: 0 0 0.5em var(--grey);

    width: 200px;
    height: calc(100% - 80px);

    position: fixed;
    top: 80px;
    left: 0px ;
    z-index: 1;

    transition: 0.4s;
}

.responsive-menu{
    left: -180px;
}

div#toggle-div{
    background-color: var(--lightgrey);
    box-shadow: 0 0 0.2em var(--grey);
    padding: 30px 0px;
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: calc(50% - 42px);
    right:-12px;

    cursor:pointer;
}

img#toggle-img{
    opacity: 0.6;
}
