.menu{
    background-color: var(--white);
    box-shadow: 0 0 0.5em var(--lightgrey);

    width: 200px;
    height: calc(100% - 80px);

    position: fixed;
    top: 80px;
    left: 0px ;
    z-index: 1;

    transition: 0.4s;
}

.responsive-menu{
    left: -200px;
}

div#toggle-div{
    background-color: var(--white);
    padding: 8px 8px 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: calc(50% - 15px);
    right:-34px;

    transform: rotate(90deg);
}

.shrink-menu-icon{
    opacity: 0.45;
    transition: 0.4s;
    cursor: pointer;
}

.expand-menu-icon{
    transform: rotate(180deg);
}
